<a
  href="#"
  class="back-to-top text-white d-flex justify-content-center align-content-center rounded-5 position-fixed bottom-0 end-0 m-5"
>
  <i class="material-icons-outlined">arrow_upward</i>
</a>

<style>
  .back-to-top {
    display: none;
    width: 40px;
    height: 40px;
    text-align: center;
    background: linear-gradient(
      310deg,
      #00c6fb 0%,
      #005bea 100%
    );
  }
</style>
